<template>
    <div class="title m-b-md">
        <div class="col-xs-12">
            Vacation system
        </div>
        <div class="col-xs-12 col-md-6 col-md-offset-3 logout" v-if="user.is_auth">
            <div class="row">
                <div class="col-xs-12 user-info text-right">
                    Authorized as
                    <b>
                        <small class="text-success">
                            {{ user.full_name }}
                        </small>
                    </b>
                    ({{ user.role }})

                </div>
                <div class="col-xs-12 user-info text-right">
                    <el-button type="danger" plain size="mini" @click="logout()">
                        Logout
                        <i class="el-icon-d-arrow-right"></i>
                    </el-button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            user: window.user
        }
    },
    methods: {
        logout() {
            localStorage.removeItem('token');
            this.user.deauthorize();
            this.$router.push('/');
        }
    }
}
</script>

<style lang="css" scoped>
    .logout {
        margin-bottom: 2%;
    }

    .user-info {
        font-size: 16px;
    }
</style>
