<template lang="html">
    <div class="page-container text-center">
        <div class="col-xs-12 col-md-2 col-md-offset-5">
            <el-input placeholder="Input your login" v-model="model.login">
                <i
                    class="el-icon-edit el-input__icon"
                    slot="suffix">
                </i>
            </el-input>
            <el-input placeholder="Input your password" type="password" v-model="model.password">
                <i
                    class="el-icon-edit el-input__icon"
                    slot="suffix">
                </i>
            </el-input>
            <el-button @click="auth()">Log in</el-button>
        </div>
    </div>
</template>

<script>
import { Loading } from 'element-ui';

export default {
    data() {
        return {
            model: {
                login: '',
                password: '',
            }
        }
    },
    mounted() {
        let token = localStorage.getItem('token');

        if (token && token.length) {
            this.$router.push('/vacation');
        }
    },
    created() {
        window.addEventListener('keyup', this.keyUps);
    },
    methods: {
        auth() {
            this.loadingInstance = Loading.service({
                'text': "Authentication...",
                'background': "rgba(255, 255, 255, 0.9)",

            });

            console.log('asdasdasd');

            this.$http.post('api/auth/get-token', JSON.stringify(this.model))
                .then((response) => {
                    localStorage.setItem('token', response.data.token);
                    this.loadingInstance.close();
                    this.$router.push('/vacation');
                }, (err) => {
                    this.loadingInstance.close();
                    this.$notify({
                        type: 'error',
                        title: 'Error',
                        message: err.data.message
                    })
                })
        },

        /**
         * Catch keyup
         *
         * @param e
         * @return void
         */
        keyUps(e) {
            if (e.keyCode === 13) {
                e.preventDefault();
                window.removeEventListener('keyup', this.keyUps);
                this.auth();
            }
        },
    }
}
</script>

<style lang="css" scoped>
    .el-input, .el-button {
        margin-top: 5%;
    }

</style>

<style lang="css">
    .title {
        padding-top: 10%;
    }
</style>
