<template>
    <div class="page-container text-center">
        <el-button @click="$router.push('login')">Log in</el-button>
    </div>
</template>

<script>
export default {
}
</script>

<style lang="css">
    .title {
        padding-top: 15%;
    }
</style>
