<template>
    <div class="col-xs-12 col-md-6 col-md-offset-3">
        <div class="col-xs-12 text-left">
            <el-button
                type="success"
                icon="el-icon-plus"
                plain
                size="mini"
                @click="$router.push('vacation/create')"
                >
            Create record
            </el-button>
        </div>
        <div class="col-xs-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td>Full name</td>
                        <td>Start date of vacation</td>
                        <td>End date of vacation</td>
                        <td>Status</td>
                        <td>Actions</td>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in vacations">
                        <td>{{ item.user.lastname }} {{ item.user.name }}</td>
                        <td>{{ moment.unix(item.start).format('DD.MM.YYYY') }}</td>
                        <td>{{ moment.unix(item.end).format('DD.MM.YYYY') }}</td>
                        <td>
                            <span class="label label-success" v-if="item.confirmed == 1">confirmed</span>
                            <span class="label label-danger" v-if="item.confirmed == 0">unconfirmed</span>
                        <td>
                            <div v-if="user.can('approve-vacation') || user.id == item.user.id">
                                <el-button
                                    type="success"
                                    icon="el-icon-check"
                                    plain
                                    size="mini"
                                    @click="approveVacation(item.id)"
                                    v-if="user.can('approve-vacation') && item.confirmed == 0"
                                    >
                                </el-button>
                                <el-button
                                    type="warning"
                                    icon="el-icon-edit"
                                    plain
                                    size="mini"
                                    @click="editVacation(item.id)"
                                    v-if="(user.can('edit-vacation') || user.id == item.user.id) && item.confirmed == 0 "
                                    >
                                </el-button>
                                <el-button
                                    type="danger"
                                    icon="el-icon-delete"
                                    plain
                                    size="mini"
                                    @click="deleteVacation(item.id)"
                                    v-if="user.can('delete-vacation') || (user.id == item.user.id && item.confirmed == 0) "
                                    >
                                </el-button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</template>

<script>
export default {
    data() {
        return {
            actions: {
                rest: 'api/v1/vacation',
                approveVacation: 'api/v1/vacation/approve'
            },
            moment: window.moment,
            user: window.user,
            vacations: []
        }
    },
    created() {
        this.getRecords();
    },
    methods: {
        /**
         * Get all records
         *
         * @return void
         */
        getRecords() {
            this.$http.get(this.actions.rest, {params: {}})
                .then((response) => {
                    this.vacations = response.data
                }, (err) => {
                    this.$notify({
                        type: 'error',
                        title: 'Error',
                        message: err.data.message
                    })
                })
        },

        /**
         * Confirm the vacation
         *
         * @param integer id ID of vacation
         * @return void
         */
        approveVacation(id) {
            this.$http.get(this.actions.approveVacation, {params: {id: id}})
                .then((response) => {
                    this.$notify({
                        type: 'success',
                        title: 'Success',
                        message: response.data.message
                    })

                    this.getRecords();
                }, (err) => {
                    this.$notify({
                        type: 'error',
                        title: 'Error',
                        message: err.data.message
                    })

                    this.getRecords();
                })
        },

        /**
         * Delete the vacation
         *
         * @param integer id ID of vacation
         * @return void
         */
        deleteVacation(id) {
            this.$http.delete(this.actions.rest + '/' + id, {})
                .then((response) => {
                    this.$notify({
                        type: 'success',
                        title: 'Success',
                        message: response.data.message
                    })

                    this.getRecords();
                })
        },

        /**
         * Edit the vacation
         *
         * @param integer id ID of vacation
         * @return void
         */
        editVacation(id) {
            this.$router.push('/vacation/update/' + id)
        }
    }
}
</script>

<style lang="css">
    .title {
        padding-top: 10%;
    }
</style>
