<template>
    <div class="col-xs-12 col-md-4 col-md-offset-4">
        <div class="row">
            <div class="col-xs-12 demonstration-container">
                <span class="demonstration">Select vacation dates:</span>
            </div>
        </div>
        <div class="col-xs-12 form-item-container ">
            <div class="block">
                <el-date-picker
                  v-model="model.start"
                  type="date"
                  placeholder="Select start date"
                  format="dd.MM.yyyy"
                  value-format="timestamp">
                </el-date-picker>
                <div class="has-error" v-for="item in errors" v-if="item.field == 'start'">
                    <span >{{ item.message }}</span>
                </div>
            </div>
        </div>
        <div class="col-xs-12 form-item-container">
            <div class="block">
                <el-date-picker
                  v-model="model.end"
                  type="date"
                  placeholder="Select end date"
                  format="dd.MM.yyyy"
                  value-format="timestamp">
                </el-date-picker>
                <div class="has-error" v-for="item in errors" v-if="item.field == 'end'">
                    <span >{{ item.message }}</span>
                </div>
            </div>
        </div>
        <div class="col-xs-12 text-center form-item-container">
            <el-button type="success" plain @click="save()">
                <i class="el-icon-check"></i>
                Save
            </el-button>
            <el-button type="danger" plain @click="back()">
                <i class="el-icon-close"></i>
                Cancel
            </el-button>
        </div>
    </div>
</template>

<script>
export default {
    data: () => ({
        actions: {
            restApi: 'api/v1/vacation',
        },
        model: {
            start: '',
            end: '',
            user_id: window.user.id
        },
        uri: '/vacation',
        user: window.user,
        errors: [],
    }),
    created() {
        if (this.$route.params.hasOwnProperty('id')) {
          this.getModel();
        }
    },
    methods: {
        getModel() {
            this.$http.get(this.actions.restApi + '/' + this.$route.params.id, {})
                .then((response) => {
                    if (response.data.hasOwnProperty('id')) {
                        this.model.id = response.data.id;
                    }

                    this.model = response.data;
                })
        },

        save() {
            if (this.model.hasOwnProperty('id')) {
                this.$http.put(this.actions.restApi + '/' + this.model.id, this.model)
                    .then((response) => {
                        this.$notify({
                            type: 'success',
                            title: 'Success!',
                            message: response.data.message
                        });
                        this.$router.push(this.uri)
                    }, (response) => {
                        this.errors = response.data;
                    })
            } else {
                this.$http.post(this.actions.restApi, this.model)
                    .then((response) => {
                        this.$notify({
                            type: 'success',
                            title: 'Success!',
                            message: response.data.message
                        });
                        this.$router.push(this.uri);
                    }, (response) => {
                        this.errors = response.data;

                    })
            }
        },

        back() {
            this.$router.push(this.uri);
        }

    }
}
</script>

<style lang="css" scoped>
.demonstration-container {
    margin-bottom: 5%;
}

.form-item-container {
    margin-top: 3%;
}

.has-error {
    color: red;
}
</style>
